
p{
   /* text-decoration: underline; */
   /*text-transform: uppercase;
   letter-spacing: 5px;
   text-shadow: 3px 3px red;
   font-size: xx-large;*/
   

}
div{
height: 500px;
width: 500px;
background-color: aquamarine;
padding:40px:

} 



/*
P{
    color: white;

    /* border: 3px solid yellow; */
    /*border-style: groove;
    border: 5px solid yellow;*/

/*
    }
    body{
        background-image: url(blackhole.jpg);
        background-size: cover;
        background-position: inherit;
        background-attachment: fixed;
    }/*